*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    background-color: yellowgreen;
    padding: 10px;
    border: 2px solid black;
    /*flex-direction:row;
    flex-wrap:  wrap;*/
    flex-flow: row wrap;
    justify-content: space-around;
    height: 500px;
    align-items: stretchv;

}
.flex-container div{
    width: 100px;
    margin: 10px;
    background-color: cadetblue;
    text-align: center;
    line-height: 95px;
    font-size: 30px;
    border: 2px solid black;
}